body {
    background-color: lightgray;
}

h1 {
    color: darkblue;
}

p {
    font-size: 18px;
}

.sub-heading {
    color: darkgreen;
}

.highlight {
    background-color: lightyellow;
}

#special-text {
    color: darkred;
}