body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
}

h1 {
    color: darkblue;
    text-align: center;
}

section {
    background-color: white;
    border: 2px solid darkblue;
    margin: 20px;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    color: white;
    background-color: darkblue;
}

th,
td {
    border: 1px solid black;
    padding: 12px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: lightgray;
}

tr:hover {
    background-color: lightyellow;
}